<%% hora_inicial = 8 
   hora_final   = 23
   alto_hora    = 20
   ancho_dia    = 90
   minutes_step = 15
%>

<script language="JavaScript">
  function point_it(event){
    	pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("grid").offsetLeft;
    	pos_y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("grid").offsetTop;
/*    	document.getElementById("cross").style.left = (pos_x-1) ;
    	document.getElementById("cross").style.top = (pos_y-15) ;
    	document.getElementById("cross").style.visibility = "visible" ;
      document.pointform.form_x.value = pos_x;
    	document.pointform.form_y.value = pos_y;
      
*/    
      // Hora
      hora_decimal  = pos_y / <%%=alto_hora%> / 4 + <%%=hora_inicial=%>;
      hora          = Math.floor(hora_decimal);
      //   Los minutos los redondeo al slot definido por "minutes_step"
      minutos       = Math.floor((hora_decimal - hora) * 60 / <%%=minutes_step%>) * <%%=minutes_step%>;
//      alert (hora + ":" + minutos);
      
      // Dia
      dia = Math.floor(pos_x / <%%=ancho_dia%>);
      
      window.location="<%%= url_for(:action=> 'new', :controller=>'appointments', :start_date=>@start_date)%>" +
                      "&hour=" + hora + "&minutes=" + minutos + "&day=" + dia;

  }
</script>

<div id="hours">
  <div id="hour_header">&nbsp</div>
  
  <%% (hora_inicial..hora_final).each do |hour| %>
    <div id= "hour"> <%%=hour%>:00 </div>
  <%% end %>
</div>

<div id="days">
  <div id="days_header">
  
  <%% (@start_date..@end_date).each do |day| %>
    <div id="day_header_box">  
      <b> <%%= l day, :format => "%A" %> </b>
      <br/>
      <%%= l day, :format => '%B %d' %>
    </div>
  
  <%% end %>
  </div>
  <div id="grid" onclick="point_it(event);">
    <%% (@start_date..@end_date).each do |day| %>
      <div id="day_column">
        <%% @events.each do |event|
          # Obtengo el dia del año de cada valor
          j_start_at, j_end_at, j_day = wcal_j(event.start_at, event.end_at, day)
          
#          puts "=====> " + j_day      +  " :: " + j_end_at            + " :: " + j_start_at
#          puts "=====> " + day.to_s() +  " :: " + event.end_at.to_s() + " :: " +  event.start_at.to_s()

          if (j_start_at..j_end_at).include?(j_day) or
             ( (j_start_at > j_end_at) and 
               ( (j_start_at <= j_day) or (j_end_at >= j_day) )
             )

            if event.duration == 0
              # Cita intercalada
              event_style   = "top: %dpx;" % [wcal_top(event.start_at, event.end_at, day)] +
                            "height: 2px;"
                            
            else
              event_style   = "top: %dpx;" % [wcal_top(event.start_at, event.end_at, day)] +
                            "height: %dpx;" % [wcal_height(event.start_at, event.end_at, day)]
            end
            
            event_onclick = "location.href='/appointments/" + event.id.to_s() + "';"            

        %>      
             <%%= tag("div", {:id => get_event_name(event),
                             :style => event_style, 
                             :class => get_event_name(event),
                             :tooltip => "pepe"
                            }
                             
                    )
              %>
                            
            <%%= if event.duration > 0
              event.to_s() 
            end  %>
            </div>
          <%% end %>

        <%% end %>
      </div>
    <%% end %>
  </div>
</div>